<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Critical CSS Generator</title>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133751508-2"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
          dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-133751508-2');
  </script>
</head>
<body>
<section>
  <h3>Data example:</h3>
  <script src="https://pastebin.com/embed_js/eT8CWQub"></script>
</section>
</body>
</html>