<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale= 1.0, width= device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <title>Critical CSS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons">
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-content>
          <v-container fluid>
            <register-form></register-form>
          </v-container>
        </v-content>
      </v-app>
    </div>
  </body>
  <script src="{{ static( 'js/vendor.js' ) }}"></script>
  <script src="{{ static( 'js/main.js' ) }}"></script>
</html>